vllm:
  image:
    registry: quay.io
    repository: cnuland/vllm-gfx1151
    tag: rocm71_gfx115x
  configuration:
    modelReference: unsloth/gpt-oss-20b-BF16
    modelStorage:
      size: 40Gi
    extraArgs:
      - --dtype=bfloat16
      - --enforce-eager
      - --disable-custom-all-reduce
      - --trust-remote-code
    env:
      VLLM_USE_MODELSCOPE: "false"
      VLLM_USE_V1: "1"
      VLLM_TARGET_DEVICE: "rocm"
      VLLM_ROCM_USE_AITER: "0"
      VLLM_ROCM_CUSTOM_PAGED_ATTN: "0"
      VLLM_USE_TRITON_FLASH_ATTN: "0"
      NCCL_P2P_DISABLE: "1"
      AMD_SERIALIZE_KERNEL: "3"
      HIP_LAUNCH_BLOCKING: "1"
      PYTHONNOUSERSITE: "1"
      PYTHONPATH: "/usr/local/lib/python3.12/dist-packages"
  tolerations: []
  resources:
    limits:
      cpu: 6
      memory: 16Gi
      amd.com/gpu: 1
      nvidia.com/gpu: null
    requests:
      cpu: 2
      memory: 12Gi
      amd.com/gpu: 1
      nvidia.com/gpu: null
