apiVersion: config.openshift.io/v1
kind: ClusterVersion
metadata:
  name: version
spec:
  overrides:
    - group: apps
      kind: Deployment
      name: ingress-operator
      namespace: openshift-ingress-operator
      unmanaged: true
