apiVersion: metallb.io/v1beta1
kind: BGPAdvertisement
metadata:
  name: default
  annotations:
    argocd.argoproj.io/sync-wave: "2"
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  ipAddressPools:
  - default
  aggregationLength: 32
  localPref: 100
